<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Trang chủ - MTShop Admin', 'none')"/>

<body>
<div class="container-fluid">

    <!-- navigation -->
    <div th:replace="navigation :: menu"></div>

    <!-- body -->
    <div>
        <h2 class="text-center">MTShop Control Panel</h2>
        Xin chào <a th:href="@{/account}" sec:authentication="principal.fullname"></a>
        -
        <!-- authorities lấy từ cái getAuthorities của Userdetails trả về cái role -->
        <span sec:authentication="principal.authorities"></span>
    </div>

    <!-- footer -->
    <div th:replace="fragments :: footer"></div>

</div>
</body>
</html>