<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- modal -->
<div th:fragment="content" th:remove="tag">
    <div class="form-group row">
        Thông tin bên dưới thì quan trọng để tính phí ship cho sản phẩm <br>
        Kích thước (L X W X H) cho hộp sử dụng để gói sản phẩm - không phải kích thước sản phẩm
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Chiều dài (cm):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{length}" step="0.01"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Chiều rộng (cm):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{width}" step="0.01"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Chiều cao (cm):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{height}" step="0.01"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Cân nặng (kg):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{length}" step="0.01"/>
        </div>
    </div>
</div>
</body>
</html>