<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Quản lý sản phẩm - MTShop Admin', 'none')"/>

<body>
<div class="container-fluid">

    <!-- navigation -->
    <div th:replace="navigation::menu"></div>

    <div>
        <h2>Quản Lý Sản Phẩm</h2>

        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
            <a th:href="@{/products/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
            <a th:href="@{/products/export/csv}" class="fas fa-file-csv fa-2x mr-2" style="color: #007c01"></a>
        </th:block>
    </div>

    <!-- search -->
    <div>
        <form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortType" th:value="${sortType}"/>

            Thể loại&nbsp;
            <select name="categoryId" class="form-control" id="dropdownCategory">
                <option value="0">Tất cả thể loại</option>
                <th:block th:each="cat : ${listCategories}">
                    <option th:value="${cat.id}" th:selected="(${categoryId} == ${cat.id})">[[${cat.name}]]</option>
                </th:block>
            </select>

            &nbsp;Tìm Kiếm: &nbsp;
            <input type="search" name="keyword" class="form-control" required placeholder="Search"/>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" onclick="clearFilter()" title="Xoá">
                <i class="fas fa-eraser"></i>
            </button>
        </form>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
    </div>

    <!-- table -->
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                <th th:replace="fragments :: column_link('id', 'ID', 'tag')"/>
                </th>

                <th>Ảnh chính</th>
                <th th:replace="fragments :: column_link('name', 'Tên', 'none')"/>

                <th class="hideable-column">
                <th th:replace="fragments :: column_link('brand', 'Nhãn hiệu', 'tag')"/>
                </th>

                <th class="hideable-column">
                <th th:replace="fragments :: column_link('category', 'Thể loại', 'tag')"/>
                </th>

                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <th>Trạng thái</th>
                </th:block>

                <th></th>
            </tr>
            </thead>

            <!-- load user list -->
            <tbody>
            <tr th:each="product: ${listProducts}">
                <td class="hideable-column">[[${product.id}]]</td>
                <td>
                    <img th:src="@{${product.mainImagePath}}" style="width: 100px" class="img-fluid"/>
                </td>
                <td>
                    <a class="link-detail" th:href="@{'/products/detail/' + ${product.id}}" th:title="${product.name}">
                        [[${product.shortName}]]
                    </a>
                </td>
                <td class="hideable-column">[[${product.brand.name}]]</td>
                <td class="hideable-column">[[${product.category.name}]]</td>

                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <td>
                        <div th:replace="fragments :: status(${product.enabled}, 'Sản phẩm', '/products/' + ${product.id})"/>
                    </td>
                </th:block>

                <td>
                    <a th:href="@{'/products/detail/' + ${product.id}}"
                       class="fas fa-file-alt fa-2x icon-green link-detail"></a>

                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                        &nbsp;
                        <div th:replace="fragments :: edit('Sản phẩm', '/products/edit/' + ${product.id})"
                             title="Xem chi tiết sản phẩm này"/>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        &nbsp;
                        <div th:replace="fragments :: delete('Sản phẩm', ${product.id},
                        '/products/delete/' + ${product.id},  true)"/>
                    </th:block>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <!-- responsive -->
    <div class="less-details">
        <div th:each="product : ${listProducts}" class="row m-1">
            <div class="col-4">
                <img th:src="@{${product.mainImagePath}}" style="width: 80px" class="img-fluid"/>
            </div>
            <div class="col-8">
                <div>
                    <a th:href="@{'/products/detail/' + ${product.id}}"
                       class="link-detail">[[${product.shortName}]]</a>
                </div>
                <div class="mt-2">
                    <a th:href="@{'/products/detail/' + ${product.id}}"
                       class="fas fa-file-alt fa-2x icon-green link-detail"></a>

                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                        &nbsp;
                        <div th:replace="fragments :: edit('Sản phẩm', '/products/edit/' + ${product.id})"
                             title="Xem chi tiết sản phẩm này"/>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        &nbsp;
                        <div th:replace="fragments :: delete('Sản phẩm', ${product.id},
                        '/products/delete/' + ${product.id},  true)"/>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <!-- confirm modal -->
    <div th:replace="modal_fragments :: confirm_modal"/>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- pagination -->
    <div th:replace="fragments :: pagination('sản phẩm')"/>

    <!-- footer -->
    <div th:replace="fragments :: footer"/>

</div>

<script type="text/javascript">
    moduleURL = "[[@{/products/}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'sản phẩm');
        });

        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            linkDetailUrl = $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailUrl);
        });

        $("#dropdownCategory").on("change", function () {
            $("#searchForm").submit();
        });
    });
</script>
<script th:src="@{/js/common_list.js}"></script>
</body>
</html>