<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Customers - Shopme Admin', 'none')"/>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Quản Lý Khách Hàng</h2>
    </div>

    <div th:replace="fragments :: search_form_and_message()"/>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments :: column_link('id', 'ID', 'none')"/>
                <th th:replace="fragments :: column_link('firstName', 'Tên', 'none')"/>
                <th th:replace="fragments :: column_link('lastName', 'Họ', 'none')"/>

                <th class="hideable-column">
                <th th:replace="fragments :: column_link('email', 'E-mail', 'tag')"/>
                </th>

                <th th:replace="fragments :: column_link('country', 'Quốc gia', 'none')"/>

                <th class="hideable-column">
                <th th:replace="fragments :: column_link('city', 'Thành phố', 'tag')"/>
                </th>

                <th class="hideable-column">
                <th th:replace="fragments :: column_link('state', 'Quận', 'tag')"/>
                </th>

                <th>Trạng thái</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${listCustomers}">
                <td>[[${customer.id}]]</td>
                <td>[[${customer.firstName}]]</td>
                <td>[[${customer.lastName}]]</td>
                <td class="hideable-column">[[${customer.email}]]</td>
                <td>[[${customer.country.name}]]</td>
                <td class="hideable-column">[[${customer.state}]]</td>
                <td class="hideable-column">[[${customer.city}]]</td>
                <td>
                    <div th:replace="fragments :: status(${customer.enabled}, 'khách hàng', '/customers/' + ${customer.id})"/>
                </td>
                <td>
                    <a class="fas fa-file-alt fa-2x icon-green link-detail"
                       th:href="@{'/customers/detail/' + ${customer.id}}" title="Xem chi tiết"
                    ></a>
                    &nbsp;
                    <div th:replace="fragments :: delete('Khách hàng', ${customer.id}, '/customers/delete/' + ${customer.id}, true)"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="customer : ${listCustomers}" class="row m-1">
            <div class="col-4">
                <span><b>[[${customer.fullName}]]</b></span>
            </div>
            <div class="col-8">
                <div class="mb-1">
                    <span>[[${customer.country.name}]]</span>
                </div>
                <div>
                    <div th:replace="fragments :: status(${customer.enabled}, 'khách hàng', '/customers/' + ${customer.id})"/>
                    &nbsp;
                    <a class="fas fa-file-alt fa-2x icon-green link-detail"
                       th:href="@{'/customers/detail/' + ${customer.id}}"
                       title="Xem chi tiết"
                    ></a>
                    &nbsp;
                    <div th:replace="fragments :: delete('Khách hàng', ${customer.id}, '/customers/delete/' + ${customer.id}, true)"/>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('khách hàng')"/>

    <div th:replace="modal_fragments :: confirm_modal"/>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"/>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/customers}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'khách hàng');
        });

        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });
    });
</script>
</body>
</html>